.experience-item {
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 40px;
  max-width: calc(50% - 20px);
  span{
    color: #2eb1ed;
  }
  i{
    color: #2eb1ed;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
  }
  h4 {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
  }
  @media screen and (max-width: 768px) {
    min-width: 100%;
  }
  i {
    margin-right: 10px;
  }
  p {
    text-transform: capitalize;
  }
}
