<div class="container">
  <div class="experience">
    <div class="experience-item outer-shadow">
      <i class="fas fa-briefcase"></i>
      <span>May, 2024 - Present</span>
      <h3>Frontend Developer</h3>
      <h4>Kosi Digital Sevices Pvt Ltd</h4>
      <p>Technology - Angular, React Js, Bootstrap, Tailwind CSS, Ionic</p>
    </div>
  </div>

  <div class="experience d-flex justify-content-end">
    <div class="experience-item outer-shadow w-100">
      <i class="fas fa-briefcase"></i>
      <span>April, 2024 - June 2024</span>
      <h3>Frontend Developer Intern</h3>
      <h4>AnimalsLover</h4>
      <p>Technology - Next Js, React Js, Bootstrap, Tailwind CSS</p>
    </div>
  </div>
</div>
