<div class="container">
  <div class="timeline">
    <div class="timeline-container left-container">
      <i class="fas fa-briefcase"></i>
      <div class="text-box outer-shadow">
        <small>May, 2024 - Present</small>
        <h3>Frontend Developer</h3>
        <h4>Kosi Digital Sevices Pvt Ltd</h4>
        <p>Technology - Angular, React Js, Bootstrap, Tailwind CSS, Ionic</p>
        <span class="left-container-arrow"></span>
      </div>
    </div>

    <div class="timeline-container right-container">
      <i class="fas fa-briefcase"></i>
      <div class="text-box outer-shadow">
        <small>April, 2024 - June 2024</small>
        <h3>Frontend Developer Intern</h3>
        <h4>AnimalsLover</h4>
        <p>Technology - Next Js, React Js, Bootstrap, Tailwind CSS</p>
        <span class="right-container-arrow"></span>
      </div>
    </div>
  </div>
</div>
