<div id="about">
  <div class="section-title">
    <p>MAIN INFO</p>
    <h2 class="text-center">About Me</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="my-pic outer-shadow">
          <img src="img/my_pic.jpg" alt="my_pic" style="padding: 15px" />
        </div>
        <div class="s-icon">
          <a href="https://www.facebook.com/kunalrajput8963" target="_blank"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a href="https://www.instagram.com/kunalrajput_45/" target="_blank">
            <i class="fa-brands fa-instagram"></i
          ></a>
          <a href="https://www.linkedin.com/in/kunalkumar8963" target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
          <a href="https://github.com/kunalkumar45" target="_blank"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a href="https://wa.me/9117155541" target="_blank"
            ><i class="fa-brands fa-whatsapp"></i
          ></a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="about-info">
          <p>
            Hello! I'm <span>Kunal Kumar</span>, a passionate
            <span>Frontend Developer</span> with
            <span>1+ years of experience</span> building innovative, responsive,
            and user-centric web applications. I specialize in
            <span>Angular</span> and focus on crafting clean, scalable, and
            high-performance interfaces.
            <br />
            <br />
            My expertise includes <span>JavaScript (ES6+)</span>,
            <span>TypeScript</span>, <span>HTML5</span>, <span>CSS3</span>, and
            modern UI frameworks like <span>Bootstrap</span> and
            <span>Tailwind CSS</span>. I enjoy turning complex ideas into
            intuitive designs that deliver seamless user experiences.
            <br />
            <br />
            I’m currently pursuing my
            <span>Master’s in Computer Applications (MCA)</span> from
            <span>Sikkim Manipal University</span> and continuously explore new
            frontend technologies to enhance my skills and stay updated with
            industry trends.
            <br />
            <br />
            I’m excited to take on new challenges and create impactful digital
            experiences.
          </p>
        </div>
        <div class="action-item">
          <div class="btn outer-shadow hover me-4">
            <a href="Kunal_Kumar_CV.pdf" target="_blank">Download CV</a>
          </div>
          <div class="btn outer-shadow hover">
            <a href="#contact">Hire Me</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
