<div id="about">
  <div class="section-title">
    <p>MAIN INFO</p>
    <h2 class="text-center">About Me</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="my-pic outer-shadow">
          <img
            src="img/my_pic.jpg"
            alt="my_pic"
            width="100%"
            style="padding: 15px"
          />
        </div>
        <div class="s-icon">
          <a href="https://www.facebook.com/kunalrajput8963" target="_blank"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a href="https://www.instagram.com/kunalrajput_45/" target="_blank">
            <i class="fa-brands fa-instagram"></i
          ></a>
          <a href="https://www.linkedin.com/in/kunalkumar8963" target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
          <a href="https://github.com/kunalkumar45" target="_blank"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a href="https://wa.me/9117155541" target="_blank"
            ><i class="fa-brands fa-whatsapp"></i
          ></a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="about-info">
          <p>
            <span>Hello! I am Kunal Kumar.</span> <br />
            I'm a Front-End Web Developer. <br />
            I'm currently working as a Frontend Developer at a startup called
            Kosi Digital Services Pvt Ltd . <br />
            I am fond of Web Development. I am a quick learner and punctual
            toward my work and always excited to learn new skills.
          </p>
        </div>
        <div class="status">
          <p>
            <span style="text-transform: none"
              >Email: {{ "kunalkumar8963@gmail.com" }}</span
            >
            <br />
            Mobile No: +91 9117155541 <br />
            Address: Darbhanga, Bihar <br />
            Status: Unvailable
          </p>
        </div>
        <div class="action-item">
          <div class="btn outer-shadow hover me-4">
            <a href="Kunal_Kumar_CV.pdf" target="_blank">Download CV</a>
          </div>
          <div class="btn outer-shadow hover">
            <a href="#contact">Hire Me</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
