<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="projects-container outer-shadow">
        <div class="projects-box">
          <img src="img/e-shop.png" alt="e-shop" />
          <div class="projects-layer">
            <h4>E-Shop E-Commerce</h4>
            <p>HTML, CSS, JavaSCript</p>
            <a
              class="outer-shadow"
              href="https://kunalkumar45.github.io/e-shop/"
              target="_blank"
              >View<i class="fa-solid fa-arrow-up-right-from-square"></i
            ></a>
          </div>
        </div>
        <p class="text-center py-2 fw-bold">E-Shop E-Commerce</p>
      </div>
    </div>
  </div>
</div>
