<div class="container-fluid">
  <div class="container">
    <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row" id="home">
      <div class="col-md-6 text-center text-md-start">
        <p>Hello,</p>
        <h2>
          I'm 
          <span class="tw"></span>
        </h2>
        <p>Web Designer & Developer</p>

        <div class="btn outer-shadow hover">
          <a href="#about">More About Me</a>
        </div>
      </div>
      <div class="col-md-6">
       <div class="poster outer-shadow">
        <img src="img/my_pic.jpg"/>
       </div>
      </div>
    </div>
  </div>
</div>
