<div class="container">
  <div class="timeline">
    <div class="timeline-container left-container">
      <i class="fa-solid fa-graduation-cap"></i>
      <div class="text-box outer-shadow">
        <small>2025 - 2027</small>
        <h3>Master of Computer Applicatiion (MCA)</h3>
        <p>University: Sikkim Manipal University</p>
        <span class="left-container-arrow"></span>
      </div>
    </div>

    <div class="timeline-container right-container">
      <i class="fa-solid fa-graduation-cap"></i>
      <div class="text-box outer-shadow">
        <small>2019 - 2022</small>
        <h3>Graduation B.Sc.(Zoology)</h3>
        <p>College: K S Collage Laheriasarai, Darbhanga, University:LNMU</p>
        <span class="right-container-arrow"></span>
      </div>
    </div>

    <div class="timeline-container left-container">
      <i class="fa-solid fa-graduation-cap"></i>
      <div class="text-box outer-shadow">
        <small>2019</small>
        <h3>Higher Secondary - I.Sc.</h3>
        <p>School: M F D K Collage Sormar Baghla, Samastipur, Board:BSEB</p>
        <span class="left-container-arrow"></span>
      </div>
    </div>

    <div class="timeline-container right-container">
      <i class="fa-solid fa-graduation-cap"></i>
      <div class="text-box outer-shadow">
        <small>2016</small>
        <h3>Secondary - 10th / Matric</h3>
        <p>School: M F D S High School Sormar Baghla, Samastipur, Board:BSEB</p>
        <span class="right-container-arrow"></span>
      </div>
    </div>
  </div>
</div>
