<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="projects-container outer-shadow">
        <div class="projects-box">
          <img src="img/sky_computer.png" alt="sky_computer" />
          <div class="projects-layer">
            <h4>Sky Computer Education</h4>
            <p>Tools: React Js, CSS, Bootstrap</p>
            <a
              class="outer-shadow"
              href="https://skycomputereducation.netlify.app"
              target="_blank"
              >View<i class="fa-solid fa-arrow-up-right-from-square"></i
            ></a>
          </div>
        </div>
        <p class="text-center py-2 fw-bold">Sky Computer Education</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="projects-container outer-shadow">
        <div class="projects-box">
          <img src="img/music_school.png" alt="music_school" />
          <div class="projects-layer">
            <h4>Music School</h4>
            <p>Tools: Next Js, Tailwind CSS</p>
            <a
              class="outer-shadow"
              href="https://ourmusicschool.netlify.app"
              target="_blank"
              >View<i class="fa-solid fa-arrow-up-right-from-square"></i
            ></a>
          </div>
        </div>
        <p class="text-center py-2 fw-bold">Music School</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="projects-container outer-shadow">
        <div class="projects-box">
          <img src="img/gym.png" alt="gym" />
          <div class="projects-layer">
            <h4>Kunal Fitness</h4>
            <p>Tools: HTML, CSS, JavaScript</p>
            <a
              class="outer-shadow"
              href="https://kunalkumar45.github.io/kunalfitness/"
              target="_blank"
              >View<i class="fa-solid fa-arrow-up-right-from-square"></i
            ></a>
          </div>
        </div>
        <p class="text-center py-2 fw-bold">Kunal Fitness</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="projects-container outer-shadow">
        <div class="projects-box">
          <img src="img/ambey_prep.png" alt="ambey_prep" />
          <div class="projects-layer">
            <h4>Ambey Prep School</h4>
            <p>Tools: HTML, CSS, JavaScript, Bootstrap</p>
            <a
              class="outer-shadow"
              href="https://kunalkumar45.github.io/masc/"
              target="_blank"
              >View<i class="fa-solid fa-arrow-up-right-from-square"></i
            ></a>
          </div>
        </div>
        <p class="text-center py-2 fw-bold">Ambey Prep School</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="projects-container outer-shadow">
        <div class="projects-box">
          <img src="img/textutils.png" alt="textutils" />
          <div class="projects-layer">
            <h4>TextUtils Text Editor</h4>
            <p>Tools: React Js, Bootstrap</p>
            <a
              class="outer-shadow"
              href="https://kunalkumar45.github.io/textutils/"
              target="_blank"
              >View<i class="fa-solid fa-arrow-up-right-from-square"></i
            ></a>
          </div>
        </div>
        <p class="text-center py-2 fw-bold">TextUtils Text Editor</p>
      </div>
    </div>
  </div>
</div>
